#gameboard {
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    height:600px;
}

#title {
    width:600px;
    height:150px;
    background-image:url("images/title.png");
    margin-left:auto;
    margin-right:auto;
}

#door1 {
    width:200px;
    height:200px;
    background-image:url("images/door1.png");
    float:left;
}

#door1:hover {
    background-image:url("images/door1hover.png");
}

#door1:active {
    background-image:url("images/dooropen.png");
}


#door2 {
    width:200px;
    height:200px;
    background-image:url("images/door2.png");
    float:left;
}

#door2:hover {
    background-image:url("images/door2hover.png");
}

#door2:active {
    background-image:url("images/dooropen.png");
}

#door3 {
    width:200px;
    height:200px;
    background-image:url("images/door3.png");
    float:left;
}

#door3:hover {
    background-image:url("images/door3hover.png");
}

#door3:active {
    background-image:url("images/dooropen.png");
}

#door4 {
    width:200px;
    height:200px;
    background-image:url("images/door4.png");
    float:left;
}

#door4:hover {
    background-image:url("images/door4hover.png");
}

#door4:active {
    background-image:url("images/dooropen.png");
}

#door5 {
    width:200px;
    height:200px;
    background-image:url("images/door5.png");
    float:left;
}

#door5:hover {
    background-image:url("images/door5hover.png");
}

#door5:active {
    background-image:url("images/dooropen.png");
}


#door6 {
    width:200px;
    height:200px;
    background-image:url("images/door6.png");
    float:left;
}

#door6:hover {
    background-image:url("images/door6hover.png");
}

#door6:active {
    background-image:url("images/dooropen.png");
}

#door7 {
    width:200px;
    height:200px;
    background-image:url("images/door7.png");
    float:left;
}

#door7:hover {
    background-image:url("images/door7hover.png");
}

#door7:active {
    background-image:url("images/dooropen.png");
}

#door8 {
    width:200px;
    height:200px;
    background-image:url("images/door8.png");
    float:left;
}

#door8:hover {
    background-image:url("images/door8hover.png");
}

#door8:active {
    background-image:url("images/dooropen.png");
}

#door9 {
    width:200px;
    height:200px;
    background-image:url("images/door9.png");
    float:left;
}

#door9:hover {
    background-image:url("images/door9hover.png");
}

#door9:active {
    background-image:url("images/door9open.png");
}

